.info{
    padding: 80px 1rem;
    background-color: rgba(33, 37, 41, 255);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.2rem;
    color: white;
}

.info-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    /* align-items: center; */
}

.my-name{
    color: rgba(195,142,78);
}

.mldl{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}


.o-info{
    color: rgba(65,63,163);
}

.info-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-img img{
    border-radius: 30%;
}

.info-img:hover{
    transform: scale(1.03);
    transition: 700ms ease-in;
}

.info-content button{
    border: none;
    padding: 0.8rem 2.4rem;
    width: 12rem;
    /* align-self: center; */
    cursor: pointer;
    background-color: rgba(225,123,126,255);
    border-radius: 10px;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-top: 2rem;
}

@media only Screen and (max-width: 750px){
    .info{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        /* font-size: 0.3; */
    }
    .my-name{
        font-size: 0.9rem;
    }
    .o-info{
        font-size: 0.9rem;
        text-align: center;
    }
    .info-content h1{
        font-size: 1.5rem;
    }
    .info-content{
        padding: 0rem;
        align-items: center;
    }
    .info-content button{
        padding: 0.6rem 1rem;
        margin-top: 1rem;
    }
    .info-img{
        grid-row: 1;
    }
    .info-img img{
        height: 55vw;
    }
}