.navbar {
    background-color: rgba(33, 37, 41, 255);
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .logo {
    justify-self: start;
    margin-left: 2rem;
    font-size: 2rem;
    /* background-color: yellow; */
  }
  
  .logo a {
    /* color: #f5f5f5; */
    text-decoration: none;
  }
  
  .logo img{
    width: 140px;
    /* border-radius: 40px; */
    margin-right: 0.7rem;
  }

  .right-itm {
    justify-self: end;
    color: #f5f5f5;
    margin-right: 2rem;
    /* background-color: #fff; */
  }
  
  .mobile-view {
    display: grid;
    grid-template-rows: 15% 15% 15% 15%;
    align-items: center;
    background-color: rgba(33, 37, 41, 255);
    /* background-color: yellow; */
    padding: 2rem;
    list-style: none;
    position: fixed;
    transition: 350ms;
    top: 80px;
    left: -120%;
    width: 100vw;
    height: 100vh;
  }
  
  .active {
    left: 0px;
    transition: 450ms;
  }
  
  .nav-itm {
    /* background-color: #fff; */
    display: flex;
    /* border-radius: 4px; */
    height: 65px;
    /* align-items: center; */
  }
  
  .nav-itm a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    color: #f5f5f5;
  }
  
  .nav-itm a:hover {
    background-color: #1a83ff;
  }
  
  span {
    margin-right: 16px;
  }
  
  .desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.3rem;
  }
  
  .nav-d-itm {
    list-style: none;
  }
  
  .nav-d-itm a {
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    border-radius: 4px;
    padding: 5px 6px;
    color: #f5f5f5;
  }
  
  .nav-d-itm a:hover {
    background-color: #1a83ff;
  }
  
  @media only Screen and (max-width: 750px) {
    .desktop {
      display: none;
    }
  }
  
  @media only Screen and (min-width: 750px) {
    .mobile {
      display: none;
    }
    .navbar {
      grid-template-columns: 1fr 2fr;
    }
  }
  